<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 color-data-box maxH">
            <div class="row pl-1 labelFilter" *ngFor="let categoria of categorias">
                <label class="m-0">
                    <input type="radio" name="categoria" (click)="onChange('categoria', categoria)"/>
                    <small class="pl-1">{{categoria}}</small>
                </label>
            </div>
        </div>
        <div class="col-md-2 color-data-box maxH">
            <div class="row pl-1 labelFilter" *ngFor="let procedencia of procedencias">
                <label class="m-0">
                    <input type="radio" name="procedencia" (click)="onChange('procedencia', procedencia)"/>
                    <small class="pl-1">{{procedencia}}</small>
                </label>
            </div>
        </div>
        <div class="col-md-2 color-data-box maxH">
            <div class="row pl-1 labelFilter" *ngFor="let canal of canales">
                <label class="m-0">
                    <input type="radio" name="canal" (click)="onChange('canal', canal)"/>
                    <small class="pl-1">{{canal}}</small>
                </label>
            </div>
        </div>
        <div class="col-md-2 color-data-box maxH">
            <div class="row pl-1 labelFilter" *ngFor="let medio of medios">
                <label class="m-0">
                    <input type="radio" name="medio" (click)="onChange('medio', medio)"/>
                    <small class="pl-1">{{medio}}</small>
                </label>
            </div>
        </div>
    </div>
</div>