.filtrin{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.maxH{
    min-height: 125px;
    max-height: 125px;
    overflow-y: auto;
}

.maxH2{
    min-height: 135px;
    max-height: 135px;
    overflow-y: auto;
}

.titleTab{
    font-size: 14px;
    min-height: 50px;
}
.titleTabBottom{
    font-size: 14px;
    min-height: 25px;
}
.itemTab{
    font-size: 12px;
}
.color-title-box{
    background-color: #094780;
    color: white;
}

.color-data-box{
    background-color: white;
}

.manito:hover{
    cursor: pointer;
}

.desplegado{
    background-color: darkgrey;
}