<form [formGroup]="myForm">
    <div class="form-row align-items-end justify-content-end">  
        <div class="col-xs-12 col-12 col-sm-6 col-md-auto">
            <input type="text" class="form-control form-control-sm border1" placeholder="Desde" bsDatepicker formControlName="datedesde" [bsConfig]="{ isAnimated: true,dateInputFormat: 'dddd D, MMM YYYY',showWeekNumbers:false,containerClass: 'theme-dark-blue' }"/>
        </div>
        <div class="col-xs-12 col-12 col-sm-6 col-md-auto">
            <input type="text" class="form-control form-control-sm border1" placeholder="Hasta" bsDatepicker formControlName="datehasta" [bsConfig]="{ isAnimated: true,dateInputFormat: 'dddd D, MMM YYYY',showWeekNumbers:false,containerClass: 'theme-dark-blue' }"/>
        </div>
    </div>
</form>

