<p>Entrega Item si funciona</p>

<!--<div class="col-md-12">
    <div class="card border-2 shadow-sm">
        <div class="card-header bg-white">
            <div class="row justify-content-between">
                <div class="row">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [id]="entrega.ent_pro_code"
                            (click)="seleccionar(entrega)">
                        <label class="custom-control-label" [for]="entrega.ent_pro_code"><i class="testDri"></i>
                            <small> Entrega / </small>
                            <small>
                                <span class="badge  mr-2 badge-primary">{{entrega.ent_tip_nombre}}</span>
                            </small>
                            <small>
                                <span class="badge  mr-2 badge-primary">{{entrega.ent_eta_etapa}}</span>
                            </small>
                            <small>
                                <span *ngIf="entrega.ent_pro_estado_finalizado == 1"
                                    class="badge badge-success">Finalizado</span>
                            </small>
                            <small>
                                <span *ngIf="entrega.ent_pro_estado_finalizado == 0 && entrega.ent_pro_cancelado == 0"
                                    class="badge badge-success">Activo</span>
                            </small>

                            <small>
                                <span *ngIf="entrega.ent_pro_cancelado == 1" class="badge badge-danger">Cancelado</span>
                            </small>

                        </label>
                    </div>

                </div>

                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto">
                            <a [routerLink]="['/entrega/detalle',entrega.ent_pro_code]"
                                class="btn btn-sm btn-outline-primary" tooltip="Detalle"><i
                                    class="fa fa-fw fa-edit"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">

                <div class=" col-md-2 col-5 text-center my-auto">
                    <span><img [src]="'images/logos/'+entrega.empresa.emp_codigo+'.png'" class="img-fluid img-thumbnail"
                            alt="" onerror="this.src='./images/general/no-lead.png'"></span>
                    <small> <i class="fas fa-map-marker-alt"></i> {{entrega.alm_nombre}} </small>
                </div>
                <div class="col-md-3 col-4 d-flex flex-column  my-auto">
                    <span class="text-info">Vehículo </span>
                    <small class="card-text motserrat-re" tooltip="Modelo">{{entrega.ven_modelo}}</small>
                    <small class="card-text motserrat-re" tooltip="Version"> {{entrega.ven_version}}</small>
                    <small class="card-text motserrat-re" tooltip="Color"> {{entrega.ven_color}}</small>

                    <small class="card-text motserrat-re" tooltip="Año"> {{entrega.ven_anio}}</small>
                    <small class="card-text motserrat-re" tooltip="Clase"> {{entrega.ven_clase}}</small>
                    <small class="card-text motserrat-re" tooltip="Chasis"> {{entrega.ven_chasis}}</small>
                </div>
                <div class="col-md-3 d-flex flex-column my-auto">
                    <span class="text-info">Cliente </span>
                    <div>
                    </div>
                    <div class="d-flex flex-column container-scroll" style="max-height: 100px;overflow-y: auto;">
                        <small class="card-text">
                            <br>
                            <strong>Nombre:</strong> {{entrega.ven_nombre_cliente}}
                            <br>
                            <strong>Cedula</strong> {{entrega.ven_cedula_ruc}}
                            <br>
                            <strong>Email:</strong> {{entrega.ven_email}}
                            <br>
                            <strong>Telefono:</strong> {{entrega.ven_telefono}}
                            <br>
                        </small>
                    </div>
                </div>

                <div class="col-md-3 d-flex flex-column">
                    <span class="text-info">Fecha Entrega </span>
                    <div class="d-flex flex-column container-scroll" style="max-height: 100px;overflow-y: auto;">
                        <small class="card-text">
                            <strong>Fecha:</strong> {{ entrega.ent_pro_fecha_entrega | date:"EEEE, d MMMM 'de' y"}}
                            <br>
                            <strong>Hora:</strong> {{ entrega.ent_pro_fecha_entrega | date:'hh:mm a'}}
                            <br>
                            <strong>Almacen:</strong> {{ entrega.alm_nombre}}
                            <br>
                        </small>
                    </div>
                </div>

            </div>
            <div class="row d-flex justify-content-end pie-fechas mt-2">
                <div class="col-auto d-flex flex-column ">
                    <small><i class="fas fa-calendar-alt"></i>Fecha de entrega </small>
                    <small> {{ entrega.ent_pro_fecha_entrega | date:"EEEE, d MMMM 'de' y"}} </small>

                </div>
                <div class="col-auto d-flex flex-column my-auto">
                    <div class="d-flex flex-column">
                        <small>

                            <i class="fas fa-calendar-alt"></i> Asesor Asignado
                            <app-tarjeta-usuario [nombre]="entrega.usuario.usr_nombre"
                                [codigo]="entrega.usuario.usr_codigo">
                            </app-tarjeta-usuario>
                        </small>
                        <small> {{usuario.con_fecha_usr_asignado | date:"EEEE, d MMMM 'de', y h:mma"}} </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->